.message-bubble {
  padding: 8px 12px 10px 12px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(129, 129, 129, 0.5);
  border-radius: 4px;
  max-width: 224px;
}

.message-bubble__author {
  color: #9d9d9d;
  margin-bottom: 3px;
}
